#rentapheader {width: 958px; margin:0px; page-break-before: always; position: relative; top: -30px}
#tdrtitle,#rtitle {font:26px sans-serif; font-weight: bold; text-align:center; border-width:0px; vertical-align:top; max-width:400px; width:400px; margin:0px; padding:0px;display: inline-block; height: 40px}
#rentaladdress, #rentalcitystzip {font:12px serif; font-weight: bold; border-width:0px; vertical-align:top; max-width: 180px; width: 180px; max-height: 18px; margin:0px; padding:0px; display: block}
#authdate {width:6em; display:block; position: relative; top: -8px;}
#guestdate, #rentdate {display:block; position: relative; top: -8px;}
#rowprint {width:3em; border-width:0px; position: relative; top: -10px;}
#rentapbody {margin:0px; position: relative; top:-30px}
ul {margin-left:0px; padding-left:5px;}
#controls, #headercontrols {display:none}
li {list-style: none;}
textarea {font:15px serif; border-style:solid}
.personalinfo {margin-left: 5px; max-width: 71px; vertical-align:middle}
#fullname {margin-top: 2px}
input {font:14px serif; width: 15em; margin-bottom: 3px; height: 19px; border-style:solid}
td {vertical-align:top; max-width:330px; width:330px}
label, .section_header {font: 14px serif; display: inline-block; min-width: 71px; max-width: 288px; vertical-align:bottom; white-space: nowrap; overflow: hidden}
.smalllabelinput {font:12px sans-serif; position: relative; top: -6px; display:block; width:6em;}
#currentaddresslabel {margin-top:4px}
.pi-instructions {font:14px serif; width:222px; min-width:222px; max-width:222px; height: 20px; display:inline-block; vertical-align:middle; margin-top: 3px; border-style:solid; border-width:1px; border-color:silver; white-space: nowrap; overflow: hidden }
.instructions {font:14px serif;vertical-align:middle; margin-top: 3px; margin-right: 4px; border-style:solid; border-width:1px; border-color:silver; max-width:300px; width:300px; min-height:100px}
#employment-instructions {min-height:173px}

